<div class="modal fade" id="CreateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="CreateEmployeeModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateEmployeeModalLabel">Create Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="closeBtnEmployee">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="createEmployeeForm" id="createEmployeeForm" method="post" role="form" class="form-horizontal" enctype="multipart/form-data">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 required">
                                <label class="col-form-label">Image</label>
                                <div>
                                    <input type="file" id="fileInput" class="form-control user-image" name="profileImage" accept="image/png, image/jpeg" required>
                                    <span id="imageValidation" style="display: none; color: red;">No image selected</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Date Of Joining</label>
                                <div>
                                    <input type="date" class="form-control" name="joiningDate" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">First Name</label>
                                <div>
                                    <input type="text" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '');" class="form-control" name="firstName" maxlength="100" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Last Name</label>
                                <div>
                                    <input type="text" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '');" class="form-control" name="lastName" maxlength="100" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Phone</label>
                                <div>
                                    <input type="tel" id="PhoneNumber" class="form-control" name="phoneNumber" required maxlength="15" minlength="4">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Email</label>
                                <div>
                                    <input type="email" class="form-control" name="emailAddress" id="emailAddress" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Password</label>
                                <div>
                                    <input type="password" id="Password" class="form-control" name="password" required maxlength="15" minlength="4">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Address</label>
                                <div>
                                    <input type="text" class="form-control" name="Address" id="Address" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Gender</label>
                                <div>
                                    <select id="gender" class="form-control" name="gender" required>
                                        <option value="">Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Role</label>
                                <div>
                                    <select id="roles" class="form-control roles" name="role" required>
                                        <option value="">Select Role</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Date Of Birth</label>
                                <div>
                                    <input type="date" id="dOB" class="form-control" name="dOB" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Department</label>
                                <div>
                                    <select id="departmentsName" class="form-control" name="departmentId" required>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Assigned Manager</label>
                                <div>
                                    <select id="assignedManagerId" class="form-control" name="assignedManagerId" required>
                                        <option value="">Select Assigned Manager</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label class="col-form-label">Assigned HR</label>
                                <div>
                                    <select id="assignedHrId" class="form-control designationDdl" name="assignedHrId" required>
                                        <option value="">Select Assigned HR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-secondary closeBtnEmployee" data-dismiss="modal">Close</button>
                <button type="submit" form="createEmployeeForm" id="createEmployeeFormbtn" class="btn btn-primary save-button">Create Employee</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/view-resources/custom-js/employee.js"></script>
}
