<div class="modal fade" id="EditDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="EditDepartmentModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditDepartmentModalLabel">Edit Department</h5>
                <button type="button" class="close closeEditBtnDepartment" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="closeEditBtnDepartment">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editDepartmentForm" role="form" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="hidden" id="departmentId" name="departmentId"/>
                            <label for="name" class="control-label" >Department Name</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="editDepartmentName" name="name" placeholder="Enter Department Name" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-secondary closeEditBtnDepartment" data-dismiss="modal">Close</button>
                <button type="submit" form="editDepartmentForm" class="btn btn-primary ">Update Department</button>
            </div>
        </div>
    </div>
</div>
